/**
 * @name Billy Herrington
 * @author Пусик
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/47835-billy-herrington.html
 * @authorLink https://vsthemes.org/user/%D0%9F%D1%83%D1%81%D0%B8%D0%BA/
 * @authorId 86946
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.2;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.2;
    --memberlistransparency: 0;
    --accentcolor: 238,74,231;
    --background: url("https://vsthemes.org/uploads/posts/2021-11/1638099557_3560172525ab5bcd6cd945674fb62c0a.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}